{% extends 'base.html' %} 

{% block bodyclass %}
class="background-shop"
{% endblock %}

{% block mainClass %}
shoppage
{% endblock %}


{% block content %}
<h1>Shop Page</h1>

<div class="shop-container">
  {% for item in items %}
  <div class="itemwrapper">
    <div class="itemcard">
      <img class="shop-card-image" src="{{item.image}}">
      <div class="card-info">
        <h5 class="card-title">{{ item.name }}</h5>
        <h4 class="card-price">${{ item.price }}</h4>
      </div>
    </div>
    <div class="card-action">
      <a class="btn" href="{% url 'detail' item.id %}">More Info</a>
    </div>
  </div>
  {% endfor %} {% endblock %}
</div>
  
  {% block footer %} 
  {% comment %} <a class="btn" href="{% url 'item_create' %}">Add an Item</a> {% endcomment %}
  {% endblock %}