{% extends 'base.html' %} 
{% block bodyclass %}
class="background-about"
{% endblock %}

{% block mainClass %} 
aboutMain
{% endblock %}

{% block content %}
<div class="about-background">
    <div class="aboutdiv">
    <h1 style="text-align:center">Who are we and What we do do...</h1>
        <p>Come with me and you'll see a world of pure imagination</p>
    </div>
</div>
{% endblock %}

{% comment %} {% extends 'base.html' %} {% block content %}
<h1 style="text-align:center">  ∏ ∏</h1>
<h1 style="text-align:center">[ O‸O ]</h1>
<h1 style="text-align:center">  ---</h1>
<h1 style="text-align:center">  | | </h1>
<h1 style="text-align:center"> ±±±±±± </h1>
<h1 style="text-align:center">The Home of Sacred Hound Designs</h1>
<hr />
<a href="/shop">Shop</a>
{% endblock %} {% endcomment %}
